
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>


  <ion-card *ngFor="let restaurant of restaurants" class="custom-card" > 
    
    
      <div class="top">
        <div class="puan">
          <ion-card-subtitle (click)="openDetail(restaurant.id)" class="card-subtitle">%{{ restaurant.storeInfo.rate }} Orwi Puan</ion-card-subtitle>
        </div>
        <div class=" favorite-icon-container" >
          <img [src]="isFavorite(restaurant) ? 'assets/favv-filled.png' : 'assets/favv.png'" 
               class="favorite-icon" 
               (click)="toggleFavorite(restaurant)"/>
        </div>
      </div>

    <ion-img (click)="openDetail(restaurant.id)" [src]="restaurant.images[0].base64 ? restaurant.images[0].base64 : 'assets\tuzu-biberi-kahvalti-5.png'" [alt]="restaurant.title" />

    <ion-card-content class="card-content" (click)="openDetail(restaurant.id)">
      <p class="main-text">{{restaurant.title}}</p>

      <div class="additional-info">
        <img style="margin-right: 3px;" src="assets\Group 42151.png" alt="">
        <div style="padding-right: 10px;"> 20-25dk</div>
        <img style="margin-right: 3px;" src="assets\Group 42152.png" alt="">
        <div style="padding-right: 10px;">{{restaurant.distance}}</div>
        <img style="margin-right: 3px;" src="assets\Group 42153.png" alt="">
        <div> {{restaurant.storeInfo.minOrderPrice}} TL</div>
      </div>
    </ion-card-content>
  </ion-card>


  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadRestaurants()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Yükleniyor...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

