body {
    font-family: 'Roboto', sans-serif;
    background-color: #FEFFF7;
    margin: 0;
    height: auto;
  }
  
  .custom-card {
    overflow: hidden;
    width: auto;
    height: auto;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .card-image {
    width: auto;
    height: 100%;
    object-fit: cover;
  }

  .top{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 10px;
    width: 100%;
  }
  
  .favorite-icon-container {
    background: rgba(255, 255, 255, 0.7); 
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
  }
  
  .favorite-icon {
    width: auto;
    height: auto;
    cursor: pointer;
    display: flex;
    justify-content: end;
    margin-right: 0px;

  }
  
  .puan {
    background: rgba(255, 255, 255, 0.5); 
    padding: 5px 15px; 
    border-radius: 10px; 
    margin-left: 0; 
    margin-right: 190px;
  }
  
  .card-subtitle {
    color: #000; 
    margin: 0; 
    display: inline; 
    font-weight: bold; 
    line-height: 10px; 
    letter-spacing: 0; 
    font-family: 'Roboto', sans-serif; 
    position: relative;
  }
  
  .card-content {
    position: absolute; 
    bottom: -81px;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    color: #fff; 
    padding: 16px;
    z-index: 1; 
  }
  
  .main-text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px; 
  }
  
  .additional-info {
    font-size: 8px; 
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    font-weight: 600;

  }

  .search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
  }
  .arama {
    background-color: #B60615; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 40px; 
    height: 40px; 
    border-radius: 12px; 
  }
  .custom-searchbar {
    --padding-start: 0; 
  }
  
  .custom-searchbar .search-icon {
    background-size: 20px 20px; 
    background-repeat: no-repeat; 
    background-position: center; 
    width: 20px; 
    height: 20px; 
    display: inline-block; 
  }
  
  ion-searchbar .searchbar-input {
    padding-left: 24px; 
  }
  
  
  
  