body {
    font-family: 'Roboto', sans-serif;
    background-color: #FEFFF7;
    margin: 0;
  }
  
  .custom-card {
    position: block;
    overflow: hidden;
    width: auto;
    height: 222px;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .card-image {
    width: auto;
    height: 100%;
    object-fit: cover;
  }

  .top{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 10px;
  }
  
  .favorite-icon-container {
    background: rgba(255, 255, 255, 0.7); 
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .favorite-icon {
    width: auto;
    height: auto;
    cursor: pointer;
    display: flex;
    justify-content: end;

  }
  
  .puan {
    background: rgba(255, 255, 255, 0.5); 
    padding: 5px 15px; 
    border-radius: 10px; 
    // display: flex; 
    // justify-content: center;
    // align-items: center;
    margin-left: 0; 
    margin-right: 190px;
  }
  
  .card-subtitle {
    color: #000; 
    margin: 0; 
    display: inline; 
    font-weight: bold; 
    line-height: 10px; 
    letter-spacing: 0; 
    font-family: 'Roboto', sans-serif; 
    position: relative;
  }
  
  .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    color: #fff; 
    padding: 16px;
    z-index: 1;
  }
  
  .main-text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px; 
  }
  
  .additional-info {
    font-size: 8px; 
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    font-weight: 600;
  }
  
  
  
  