<ion-header [translucent]="true">
  <ion-toolbar class="top-toolbar">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" class="back-button-icon"></ion-icon>
    </ion-buttons>
    <ion-title class="page-title">Restoran</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="chatbubble-outline" class="icon"></ion-icon>
      <ion-icon name="notifications-outline" class="icon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content *ngIf="restaurant">
  <div class="image-container">
    <ion-img [src]="restaurant.images[0].base64 ? restaurant.images[0].base64 : 'assets\tuzu-biberi-kahvalti-5.png'" [alt]="restaurant.title" />
  </div>
  
  <div class="additional-image-container">
    <img src="assets/Path 67615.png" alt="Ek Resim" class="additional-image"/>
  </div>
  <div class="text-container">
    <div class="main-text">{{restaurant.title}}</div>
    <div class="status-text">{{ isOpen ? 'Şuan Açık' : 'Şuan Kapalı' }} {{restaurant.storeInfo.workingHours[0].open}} - {{restaurant.storeInfo.workingHours[0].close}}</div>
    <div class="additional-info">
      <span>20-25dk</span>
      <span>{{ distance}}km</span>
      <span><img style="color: #B60615;" src="assets\Group 42153.png" alt="">Min. {{restaurant.storeInfo.minOrderPrice}} TL</span>
    </div>
  </div>

  <div class="image-row image-row-upper">
    <div class="image-item-container">
      <img src="assets/Group 41541.png" alt="Resim 1" class="image-row-item"/>
      <div class="image-label">Restorandayım</div>
    </div>
    <div class="image-item-container">
      <img src="assets/Group 41558.png" alt="Resim 2" class="image-row-item"/>
      <div class="image-label">Paket Servis</div>
    </div>
    <div class="image-item-container">
      <img src="assets/Group 41782.png" alt="Resim 3" class="image-row-item"/>
      <div class="image-label">Gel-Al</div>
    </div>
  </div>

  <div class="image-row image-row-lower">
    <div class="image-item-container">
      <img src="assets/Group 41542.png" alt="Resim 4" class="image-row-item1"/>
      <div class="image-label">Rezervasyon</div>
    </div>
    <div class="image-item-container">
      <img src="assets/Group 41560.png" alt="Resim 5" class="image-row-item2"/>
      <div class="image-label-container">
        <div class="image-label">İletişim</div>
        <div class="rating-box"><p>00.00</p> <p>Puanım</p></div>
    </div>
    </div>
  </div>

  <div class="promo-box">
    <div class="promo-title">Kahve Hediyesi</div>
    <div class="promo-description">Her 5 kahve siparişinde 1 kahve bizden hediye!</div>
    <div class="progress-bar-container">
      <div class="progress-bar">
        <div class="progress-bar-fill"></div>
      </div>
      <div class="progress-text">1/5</div>
    </div>
  </div>
</ion-content>
