body {
  font-family: 'Roboto', sans-serif;
  background-color: #FEFFF7 !important;
}
.full{
  font-family: 'Roboto', sans-serif;
  background-color: #FEFFF7 !important;
}

.address {
  font-family: 'Roboto', sans-serif; 
  font-weight: 400;
  font-size: 12px; 
  color: #FFFFFF; 
  letter-spacing: 0; 
  line-height: 20px; 
  background-color: #B60615; 
  padding: 5px;
  display: flex; 
  justify-content: flex-start;
  align-items: center; 
  margin: 0;
}

.intro-text{
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.gunaydin{
  display: inline;
  align-items: center;
  font-family: 'Roboto', sans-serif; 
  font-weight: 400; 
  font-size: 16px; 
  color: #343434; 
  letter-spacing: 0; 
  line-height: 20px; 
  margin-right: 5px;
  margin: 0;
  
}
.salih {
  align-items: center;
  font-family: 'Roboto', sans-serif; 
  font-weight: 600; 
  font-size: 16px; 
  color: #343434; 
  letter-spacing: 0; 
  line-height: 20px; 
  margin: 0; 
  padding-left: 0.25em;
}

.soru{
  display: block;
  align-items: center;
  font-family: 'Roboto', sans-serif; 
  font-weight: 400; 
  font-size: 16px; 
  color: #343434; 
  letter-spacing: 0; 
  line-height: 20px; 
  margin: 0;
  padding-left: 10px;
  padding-top: 0;
}

.gunes{
  // position: absolute;
  padding-left: 0.25em;
  padding-bottom: 0;
}


.restaurants-title {
  text-align: left; 
  font-family: 'Roboto', sans-serif; 
  font-weight: 600; 
  font-size: 16px; 
  color: #343434; 
  letter-spacing: 0; 
  line-height: 20px; 
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}
.arama {
  background-color: #B60615; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 40px; 
  height: 40px; 
  border-radius: 12px; 
}
.custom-searchbar {
  --padding-start: 0; /* Varsayılan iç padding'i kaldırın */
}

.custom-searchbar .search-icon {
  background-image: url('../../assets/buyutec.png'); /* İkon resminizi burada belirtin */
  background-size: 20px 20px; /* İkon boyutunu ayarlayın */
  background-repeat: no-repeat; /* Tekrarlamayı kapatın */
  background-position: center; /* İkonu ortalayın */
  width: 20px; /* İkonun genişliği */
  height: 20px; /* İkonun yüksekliği */
  display: inline-block; /* Satır içi blok yapısı */
}

ion-searchbar .searchbar-input {
  padding-left: 24px; /* Simgeyi sola doğru kaydırın */
}




